@import "tailwindcss";


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f5f1ea;
  color: #24211d;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Dachi";
  src: url("/font/Dachi.otf") format("opentype");
  font-display: swap;
}

.font-dachi {
  font-family: "Dachi", sans-serif;
}